/*Estilos gerais*/

body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img{
	max-width: 100%;
	display: block;
}

.img_centro{
	margin: 0 auto;
}

.btn{
	padding: 10px 30px;
	border: 3px solid #FEC63C;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 20px;
	color: #FEC63C;
}

.branco:hover{
	color: #fff;
	border-color: #fff;
}

.preto:hover{
	color: #000;
	border-color: #000;
}

.subtitulo{
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 30px;
	color: #000;
}

.subtitulo:after{
	content: "";
	width: 60px;
	height: 3px;
	margin: 8px auto;
	background-color: #000;
	display: block;
}

/*Header*/

.header{
	width: 100vw;
	height: 80px;
	padding: 8px 0;
	background-color: #FEC63C;
	position: fixed;
	top: 0;
	z-index: 2;
}

.menu_header{
	text-align: right;
}

.menu_header li{
	display: inline-block;
	margin-top: 22px;
	margin-left: 25px;
}

.menu_header a{
	padding: 10px 0px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 20px;
	color: #000;
}

.menu_header a:hover{
	color: #fff;
}

a.menu_ativo{
	border-bottom: 2px solid #fff;
	color: #fff;
}

/*Introdução*/

.introducao{
	max-width: 100vw;
	height: 380px;
	padding-top: 80px;
	margin-top: 80px;
	text-align: center;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
}

.introducao h1{
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.quote-externo{
	max-width: 320px;
	margin: 0 auto 40px;
	color: #fff;
}

.quote-externo p{
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
	content:"";
	width: 60px;
	height: 3px;
	margin: 14px auto 10px;
	background-color: #fff;
	display: block;
}

.quote-externo cite{
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.1em;
}

/*Introdução interna*/

.introducao_interna{
	max-width: 100vw;
	height: 160px;
	padding: 30px 0;
	margin-top: 80px;
	text-align: center;
	color: #fff;
}

.introducao_interna h1{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao_interna h1:after{
	content:"";
	width: 60px;
	height: 3px;
	margin: 7px auto;
	background-color: #fff;
	display: block;
}

/*Produtos*/

.produtos{
	padding: 60px 0;
}

.produtos_icone{
	padding: 20px;
	margin-bottom: 10px;  
	background-color: #000;
}

.lista_produtos li{
	height: 300px;
	text-align: center;
	background-color: #FEC63C;
}

.lista_produtos h3{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 25px;
}

.lista_produtos h3:after{
	content: "";
	width: 60px;
	height: 3px;
	margin: 2px auto 10px;
	background-color: #000;
	display: block;
}

.lista_produtos p{
	padding: 0 20px 10px;
}

.call-to-action{
	padding-top: 30px;
	text-align: center;
	clear: both;
}

.call-to-action p{
	margin-bottom: 20px;
}

/*Portifólio*/

.portifolio{
	height: 820px;
	padding: 40px 0;
	background-color: #000;
}

.portifolio .subtitulo{
	color: #FEC63C;
}

.portifolio .subtitulo:after{
	background-color: #FEC63C;
}

.portifolio .grid-16{
	margin-top: 20px;
}

.portifolio .call-to-action p{
	color: #fff;
}

/*Qualidade*/

.qualidade{
	padding: 60px 0px;
}

.qualidade li{
	padding: 5px 20px 0;
	text-align: center;
}

.qualidade h3{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 25px;
}

.qualidade h3:after{
	content: "";
	width: 60px;
	height: 3px;
	margin: 6px auto 10px;
	background-color: #000;
	display: block;
}

/*Quebra*/

.quebra{
	max-width: 100vw;
	height: 220px;
	padding-top: 40px;
	background: url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

.quebra .quote-externo{
	max-width: 400px;
}

/*Footer*/

.footer{
	max-width: 100vw;
	padding: 30px 0;
	color: #fff;
	background-color: #000;
}

.footer h3{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 25px;
	color: #FEC63C;
}

.footer h3:after{
	content: "";
	width: 60px;
	height: 3px;
	margin: 6px 0 12px;
	background-color: #FEC63C;
	display: block;	
}

.footer_historia{
	padding-right: 40px;
}

.footer_contato li{
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
	line-height: 20px;
}

.footer_redes li{
	width: 54px;
	height: 54px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
}

.footer_redes a{
	padding: 8px;
	border: 3px solid #FEC63C;
	display: inline-block;
}

.footer_redes a:hover{
	border-color: #fff;
}

.copy{
	max-width: 100vw;
	padding: 10px 0;
	background-color: #FEC63C;
}