/*Estilos gerais*/

body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn{
	padding: 10px 30px;
	border: 3px solid #FEC63C;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FEC63C;
}

.btn:hover{
	color: #fff;
	border-color: #fff;
}

/*Header*/

.header{
	width: 100vw;
	height: 80px;
	padding: 8px 0;
	background-color: #FEC63C;
	position: fixed;
	top: 0;
}

.menu_header{
	text-align: right;
}

.menu_header li{
	display: inline-block;
	margin-top: 22px;
	margin-left: 25px;
}

.menu_header a{
	padding: 10px 0px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 20px;
	color: #000;
}

.menu_header a:hover{
	color: #fff;
}

/*Introdução*/

.introducao{
	width: 100vw;
	height: 380px;
	padding-top: 80px;
	margin-top: 80px;
	text-align: center;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
}

.introducao h1{
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.quote-externo{
	max-width: 320px;
	margin: 0 auto 40px auto;
	color: #fff;
}

.quote-externo p{
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
	content:"";
	width: 60px;
	height: 3px;
	margin: 14px auto 10px auto;
	background-color: #fff;
	display: block;
}

.quote-externo cite{
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.1em;
}