/*Modelo para tablet*/

@media only screen and (max-width: 979px){
	
	/*Introdução*/

	.introducao{
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
	}

	/*Call-to-action*/
	
	.call-to-action{
		padding-top: 10px;
	}

	/*Qualidade Home*/

	.qualidade li{
		text-align: left;
		padding: 0 10px;
	}

	.qualidade h3:after{
		margin: 6px 0 10px;
	}

	/*Footer*/

	.footer_redes a{
		padding: 6px;
	}

	.footer_redes img{
		width: 26px;
		height: 26px;
	}

}

/*Modelo para smartphone*/

@media only screen and (max-width: 787px){

	/*Header*/
	.header{
		height: auto;
		padding-bottom: 0;
		position: relative;
	}

	.header img{
		margin: 0 auto 20px;
	}

	.menu_header{
		text-align: center;
	}

	.menu_header li{
		margin: 5px;
	}

	.menu_header a{
		width: 136px;
		border:4px solid #000;
		display: block;
		float: left;
	}

	.menu_header a:hover{
		border-color: #fff;
	}

	/*Introdução*/

	.introducao{
		margin-top: 0;
	}

	.introducao h1{
		font-size: 36px;
	}

	/*Qualidade*/

	.desktop{
		display: none;
	}

	.mobile{
		margin-bottom: 20px;
		display: block;
	}

}